.background-with-text-container {
	text-align: center; 
	background-position: center center !important; 
	background-size: cover !important;

	.text-container {
		max-width:500px; 
		margin: auto;

		td {
			padding: $top-margin $side-margin;
			color: #ffffff;
		}

		P {
			color: #ffffff;
		}
	}
}