.button-td {
	border-radius: $button-radius; 
	background: $button-bg-color; 

	a {
		background: $button-bg-color; 
		border: 15px solid $button-bg-color; 
		font-family: $font-family; 
		font-size: $button-font-size; 
		line-height: 1.1; 
		text-align: center; 
		text-decoration: none; 
		display: block; 
		border-radius: $button-radius; 
		font-weight: bold;

		span {
			color: $button-text-color;
		}
	}
}

.button-left {
	margin: 0 !important;
}

