body {
	margin: 0; 
	mso-line-height-rule: exactly;
	background: $body-background;
}

center.container {
	width: 100%; 
	background: $body-background;
	text-align: left;
}

div.container {
	margin: auto;
}

.email-container {
	max-width: $email-max-width;
}