.footer {
	max-width: $email-max-width;
}

.footer-td {
	padding: $top-margin 10px;
	width: 100%;
	font-size: $font-size-small; 
	font-family: $font-family;
	line-height: $line-height; 
	text-align: center; 
	color: $fineprint-text-color;
}

webversion {
	color: #cccccc; 
	text-decoration: underline; 
	font-weight: bold;
}

unsubscribe {
	color: $fineprint-text-color;
	text-decoration: underline;
}