#header {
	max-width: $email-max-width;
}

td.header {
	padding: 20px 0;
	text-align: center;
}

.logo {
	height: auto; 
	background: $body-background; 
	font-family: $font-family; 
	font-size: $font-size-base; 
	color: $text-color;
}