.hero {
	width: 100%; 
	max-width: $email-max-width; 
	height: auto; 
	background: $body-background; 
	font-family: $font-family; 
	font-size: $font-size-base; 
	line-height: $line-height-px; 
	color: $text-color;
}