.three-column-container {
	background: $content-background;
	padding: $column-padding 0;

	.three-column {
		display:inline-block; 
		margin: 0 -2px; 
		max-width:33.33%; 
		min-width:220px; 
		vertical-align:top; 
		width:100%;
	}

	.three-column-td {
		padding: $column-padding $column-padding;

		img {
			width: 100%; 
			max-width: 200px; 
			height: auto; 
			background: $body-background; 
			font-family: $font-family; 
			font-size: $font-size-base; 
			line-height: $line-height-px; 
			color: $text-color;
		}

		.three-column-text {
			padding-top: $column-padding;
		}
	}
}