.thumbnail-container {
	background: $content-background;
	padding: $column-padding 0;

	.thumbnail {
		display:inline-block; 
		margin: 0 -2px; 
		max-width: 200px; 
		min-width:160px; 
		vertical-align:top; 
		width:100%;

		td {
			padding: 0 $column-padding $column-padding $column-padding;
		}

		img {
			width: 100%; 
			max-width: 200px; 
			height: auto;
			background: $body-background; 
			font-family: $font-family; 
			font-size: $font-size-base; 
			line-height: $line-height-px; 
			color: $text-color;
		}
	}

	.thumbnail-text {
		display:inline-block; 
		margin: 0 -2px; 
		max-width:66.66%; 
		min-width:320px; 
		vertical-align:top;
	}

	.thumbnail-content {
		background: $content-background; 
		font-family: $font-family; 
		font-size: $font-size-base; 
		line-height: $line-height-px; 
		color: $text-color;
		padding: $column-padding $column-padding $column-padding;
	}
}