.two-column-container {
	background: $content-background;

	.two-column {
		display:inline-block; 
		margin: 0 -2px; 
		width:100%; 
		min-width:200px; 
		max-width:330px; 
		vertical-align:top;
	}

	.two-column-td {
		padding: $column-padding $column-padding;

		img {
			width: 100%; 
			max-width: 310px; 
			height: auto; 
			background: $body-background; 
			font-family: $font-family; 
			font-size: $font-size-base; 
			line-height: $line-height-px; 
			color: $text-color;
		}

		.two-column-text {
			padding-top: $column-padding;
		}
	}
}