body, h1, h2, h3, h4, h5, h6, p, td {
  color: $text-color;
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;
  font-weight: normal;
  padding:0;
  margin: 0;
  text-align: left;
}

body, h1, h2, h3, h4, h5, h6, p {
  line-height: $line-height;
}

body, p {
  font-size: $font-size-base;
  line-height: $line-height-px;
}

h1 {
  font-size: $font-size-h1;
  color: $heading-color;
  font-weight: normal;
  word-break: keep-all;

  a {
    color: $link-color;
    text-decoration: none;
  }
}

h2 {
  font-size: $font-size-h2;
  color: $heading-color;
  font-weight: bold;
  word-break: keep-all;
  margin-bottom: 10px;

  a {
    color: $link-color;
    text-decoration: none;
  }
}

h3 {
  font-size: $font-size-h3;
  color: $heading-color;
  font-weight: normal;
  word-break: keep-all;

  a {
    color: $link-color;
    text-decoration: none;
  }
}

h4 {
  font-size: $font-size-h4;
  color: $heading-color;
  font-weight: normal;
  word-break: keep-all;

  a {
    color: $link-color;
    text-decoration: none;
  }
}

h5 {
  font-size: $font-size-h5;
  color: $heading-color;
  font-weight: normal;
  word-break: keep-all;

  a {
    color: $link-color;
    text-decoration: none;
  }
}

h6 {
  font-size: $font-size-h6;
  color: $heading-color;
  font-weight: normal;
  word-break: keep-all;

  a {
    color: $link-color;
    text-decoration: none;
  }
}

p {
  margin-bottom: 20px;
}

small {
  font-size: $font-size-small;
}

a {
  color: $link-color;
  text-decoration: underline;
}