// Backgrounds
$body-background: #eeeeee;
$content-background: #ffffff;
$dark-background: #999999;
$light-background: #ebebeb;
$panel-background: #2c3e50;

// Text Colors
$text-color: #555555;
$heading-color: #333333;
$alt-text-color: #ffffff;
$fineprint-text-color: #999999;

// Link Colors
$link-color: #2ba6cb;
$link-color-hover: darken($link-color, 5%);

// Button Colors
$button-bg-color: #222222;
$button-bg-color-hover: lighten($button-bg-color, 5%);
$button-text-color: #ffffff;
$button-radius: 3px;
$button-font-size: 13px;

// Borders
$container-border-color: #c6c8ca;

// Widths
$email-max-width: 680px; // if you change this value, remember to change the HTML width of the container table wrapped in mso comments for outlook
$side-margin: 40px;
$top-margin: 40px;
$bottom-margin: 40px;
$column-padding: 10px;

// Fonts
$font-family-sans-serif:	Helvetica, Arial, sans-serif;
$font-family-serif:			"Times New Roman", Times, serif;
$font-family:				$font-family-sans-serif;	

$font-size-base:          15px;
$font-size-large:         ceil(($font-size-base * 1.25)); 
$font-size-small:         ceil(($font-size-base * 0.78)); 

$font-size-h1:            25px; 
$font-size-h2:            18px; 
$font-size-h3:            ceil(($font-size-base * 2.25)); 
$font-size-h4:            ceil(($font-size-base * 2)); 
$font-size-h5:            ceil(($font-size-base * 1.7)); 
$font-size-h6:            ceil(($font-size-base * 1.4)); 

$line-height: 1.3;
$line-height-px: ceil($font-size-base * $line-height); 
$line-height-percent: percentage($line-height);