//// Apple Links
// Add these classes to the wrapper element for auto-linked content on mobile to fix auto colour and underline issues

.appleLinks a {
	color: $text-color; 
	text-decoration: none;
}

.appleLinksUnderlined a {
	color: #0075c9; 
	text-decoration: underline;
} 