/* Template-specific Styles */

body {
    background: $body-background;
}

.content-container {
    padding: 20px !important;
} 

//// Container table
.center_table {
    width: $container-width;    
    min-width: $container-width;
}


//// Content table
.content_table {
    border: 1px solid $container-border-color;
    background: $content-background;
}

.content_table_spacers {
    width: $spacer-width;
}

.content_table_center {
    width: $container-width - ($spacer-width * 2) - 2px; // container width - 2x spacers - border width
}

.icon_col {
    width: 227px;
}

.side_space {
    padding-left: 24px;
    padding-right: 24px;
}

.footer_image_col {
    width: 227px;
}

.footer_content_col {
    width: 410px;
}

//// Spacing

.header_spacing {
    padding-bottom: $spacer-width;
}

.content_spacing {
    padding-bottom: $spacer-width;
}

.top_spacing {
    padding-top: $spacer-width;
}

.image_col_spacing {
    padding-bottom: 28px;
}

.footer_spacing {
    padding-bottom: $footer-padding;
}

.footer_col_spacing {
    width: 39px;
}

.footer_col_small_spacing {
    width: 19px;
}

.footer_image_col_spacing {
    width: 30px;
}

//// Salutation
.salutation {
    color: $text-color; 
    font-family: $font-family-sans-serif;
    font-size: $font-size-large;
    padding-bottom: $spacer-width;
}

.blue_text {
    color: $blue-background;
    font-weight: bold;
}

//// Footer
.footer {
    padding-top: 47px;
    padding-bottom: 47px;
}

.footer_copy {
    color: $text-color;
    font-family: $font-family-sans-serif;
    font-size: $font-size-small;
}

.blue_background {
 background: $blue-background;
 padding-top: $spacer-width;
 padding-bottom: $spacer-width;
}

.blue_background_text {
    font-size: 12px;
    color: #fff;
}

.blue_background_with_text {
 background: $blue-background;
 
}
.grey_background {
 background: $grey-background;
}

.footer_text {
    color: #fff;
    padding-bottom: 28px;
    font-size: 18px;
}