/* Client-specific Styles & Reset */

#outlook a { 
  padding:0; // Force Outlook to provide a "view in browser" menu link.
} 

body{ 
  width:100% !important; 
  min-width: 100%;
  -webkit-text-size-adjust:100%; 
  -ms-text-size-adjust:100%; 
  margin:0; 
  padding:0;
}

/* Outlook First */

body.outlook p {
  display: inline !important;
}