body, table.body, h1, h2, h3, h4, h5, h6, p, td {
  color: $text-color;
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;
  font-weight: normal;
  padding:0;
  margin: 0;
  text-align: left;
}

body, table.body, p, td {
  mso-line-height-rule:exactly;
  font-size: $font-size-base;
  line-height: $line-height-percent;
}

td {
  &.image {
    line-height: normal;
  }  
}

p.lead {
  font-size: $font-size-large;
  line-height: $line-height;
}

h1 {
  font-size: $font-size-h1;
  color: $text-color;
  font-weight: normal;
  word-break: keep-all;

  a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: $link-color-hover;
      text-decoration: none;
    }
  }
}

h2 {
  font-size: $font-size-h2;
  color: $text-color;
  font-weight: normal;
  word-break: keep-all;

  a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: $link-color-hover;
      text-decoration: none;
    }
  }
}

h3 {
  font-size: $font-size-h3;
  color: $text-color;
  font-weight: normal;
  word-break: keep-all;

  a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: $link-color-hover;
      text-decoration: none;
    }
  }
}

h4 {
  font-size: $font-size-h4;
  color: $text-color;
  font-weight: normal;
  word-break: keep-all;

  a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: $link-color-hover;
      text-decoration: none;
    }
  }
}

h5 {
  font-size: $font-size-h5;
  color: $text-color;
  font-weight: normal;
  word-break: keep-all;

  a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: $link-color-hover;
      text-decoration: none;
    }
  }
}

h6 {
  font-size: $font-size-h6;
  color: $text-color;
  font-weight: normal;
  word-break: keep-all;

  a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus,
    &:visited {
      color: $link-color-hover;
      text-decoration: none;
    }
  }
}

p {
  margin-bottom: $line-height-px;
  margin-left: 24px;
  margin-right: 24px;

  &.noSpace {
    margin-bottom: 0;
  }

  &.noSideSpace {
    margin-left: 0;
    margin-right: 0;
  }

  &.lead {
    font-size: $font-size-large;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

small {
  font-size: $font-size-small;
}

a {
  color: $link-color;
  text-decoration: underline;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: $link-color-hover;
  }
}
