.unsub {
	color: $fineprint-text-color !important;
	font-family: $font-family-sans-serif;
	font-size: $font-size-small;
	text-align: left;
	vertical-align: middle;

	a {
		color: $fineprint-text-color !important;
	}
}