/* Alignment & Visibility Classes */

table.center, td.center {
  text-align: center;
}

h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center {
  text-align: center;
}

span.center {
  display: block;
  width: 100%;
  text-align: center;
}

img.center {
  margin: 0 auto;
  float: none;
}

p.center {
  text-align: center;
}


//// Spacer
.spacer {
    line-height: 1px;
    font-size: 1px;
    height: $spacer-height;
}