// Backgrounds
$body-background: #eeeeee;
$content-background: #ffffff;
$dark-background: #999999;
$light-background: #ebebeb;
$panel-background: #2c3e50;
$blue-background: #0075c9;
$grey-background: #ebeced;


// Text Colors
$text-color: #333E48;
$alt-text-color: #ffffff;
$fineprint-text-color: #999999;


// Link Colors
$link-color: #2ba6cb;
$link-color-hover: darken($link-color, 5%);

// Button Colors
$button-bg-color: #061736;
$button-bg-color-hover: lighten($button-bg-color, 5%);
$button-text-color: #ffffff;
$button-radius: 0;
$button-font-size: 13px;

// Borders
$container-border-color: #c6c8ca;

// Widths
$container-width: 800px;
$spacer-width: 48px;
$spacer-height: 10px;
$footer-padding: 20px;

// Fonts
$font-family-sans-serif:  Helvetica, Arial, sans-serif;
$font-family-serif:       "Times New Roman", Times, serif;
$font-family:				$font-family-sans-serif;	

$font-size-base:          14px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.78)); // ~11px

$font-size-h1:            ceil(($font-size-base * 2.85)); // ~40px
$font-size-h2:            ceil(($font-size-base * 2.55)); // ~36px
$font-size-h3:            ceil(($font-size-base * 2.25)); // ~32px
$font-size-h4:            ceil(($font-size-base * 2)); // ~28px
$font-size-h5:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h6:            ceil(($font-size-base * 1.4)); // ~20px

$line-height: 1.3;
$line-height-px: ceil($font-size-base * $line-height); // ~19px
$line-height-percent: percentage($line-height);
