<table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" class="footer">
    <tr>
        <td class="footer-td x-gmail-data-detectors">
            <webversion>View in your browser</webversion>
            <br><br>
            Company Name<br>123 Fake Street, SpringField, OR, 97477 US<br>(123) 456-7890
            <br><br>
            <unsubscribe>unsubscribe</unsubscribe>
        </td>
    </tr>
</table>