<table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" id="header">
    <tr>
        <td class="header">
            <img src="http://placehold.it/200x50" aria-hidden="true" width="200" height="50" alt="alt_text" border="0" class="logo">
        </td>
    </tr>
</table>