<tr>
    <td bgcolor="#ffffff">
        <img src="http://placehold.it/1360x600" aria-hidden="true" width="680" height="" alt="alt_text" border="0" align="center" class="fluid hero g-img">
    </td>
</tr>