<tr>
    <td class="one-column">
        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td class="one-column-header text-center">
                    <h1 class="no-margin text-center">Praesent laoreet malesuada cursus.</h1>
                </td>
            </tr>
            <tr>
                <td class="one-column-body text-center">
                    <p class="no-margin text-center">Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut&nbsp;erat.</p>
                </td>
            </tr>
            <tr>
                <td class="one-column-body">
                    <!-- Button : BEGIN -->
                    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tr>
                            <td class="button-td">
                                <a href="http://www.google.com" class="button-a">
                                    <span class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;A Button&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <!-- Button : END -->
                </td>
            </tr>

        </table>
    </td>
</tr>