<tr>
    <td bgcolor="#ffffff" align="center" height="100%" valign="top" width="100%" class="three-column-container">
        <!--[if mso]>
        <table role="presentation" aria-hidden="true" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
        <tr>
        <td align="center" valign="top" width="660">
        <![endif]-->
        <table role="presentation" aria-hidden="true" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:660px;">
            <tr>
                <td align="center" valign="top" style="font-size:0;" class="text-center">
                    <!--[if mso]>
                    <table role="presentation" aria-hidden="true" border="0" cellspacing="0" cellpadding="0" align="center" width="660">
                    <tr>
                    <td align="left" valign="top" width="220">
                    <![endif]-->
                    <div class="three-column stack-column">
                        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="three-column-td">
                                    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td>
                                                <img src="http://placehold.it/200" aria-hidden="true" width="200" height="" border="0" alt="alt_text" class="center-on-narrow">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="three-column-text stack-column-center">
                                                <p class="no-margin">Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if mso]>
                    </td>
                    <td align="left" valign="top" width="220">
                    <![endif]-->
                    <div class="three-column stack-column">
                        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="three-column-td">
                                    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td>
                                                <img src="http://placehold.it/200" aria-hidden="true" width="200" height="" border="0" alt="alt_text" class="center-on-narrow">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="three-column-text stack-column-center">
                                                <p class="no-margin">Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if mso]>
                    </td>
                    <td align="left" valign="top" width="220">
                    <![endif]-->
                    <div class="three-column stack-column">
                        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="three-column-td">
                                    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tr>
                                            <td>
                                                <img src="http://placehold.it/200" aria-hidden="true" width="200" height="" border="0" alt="alt_text" class="center-on-narrow">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="three-column-text stack-column-center">
                                                <p class="no-margin">Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if mso]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->
                </td>
            </tr>
        </table>
        <!--[if mso]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </td>
</tr>