<tr>
    <!-- dir=ltr is where the magic happens. This can be changed to dir=rtl to swap the alignment on wide while maintaining stack order on narrow. -->
    <td dir="ltr" align="center" height="100%" valign="top" width="100%"  class="thumbnail-container">
        <!--[if mso]>
        <table role="presentation" aria-hidden="true" border="0" cellspacing="0" cellpadding="0" align="center" width="660" style="width: 660px;">
        <tr>
        <td align="center" valign="top" width="660" style="width: 660px;">
        <![endif]-->
        <table role="presentation" aria-hidden="true" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:660px;">
            <tr>
                <td align="center" valign="top" style="font-size:0; padding: 10px 0;">
                    <!--[if mso]>
                    <table role="presentation" aria-hidden="true" border="0" cellspacing="0" cellpadding="0" align="center" width="660" style="width: 660px;">
                    <tr>
                    <td align="left" valign="top" width="440" style="width: 440px;">
                    <![endif]-->
                    <div class="thumbnail-text stack-column">
                        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td dir="ltr" class="thumbnail-content center-on-narrow">
                                    <h2>Class aptent taciti sociosqu</h2>
                                    <p>Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                    <!-- Button : BEGIN -->
                                    <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" class="button-left">
                                        <tr>
                                            <td class="button-td">
                                                <a href="http://www.google.com" class="button-a">
                                                    <span class="button-link text-left">&nbsp;&nbsp;&nbsp;&nbsp;A Button&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- Button : END -->
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if mso]>
                    </td>
                    <td align="left" valign="top" width="220" style="width: 220px;">
                    <![endif]-->
                    <div class="thumbnail stack-column">
                        <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td dir="ltr">
                                    <img src="http://placehold.it/200" aria-hidden="true" width="200" height="" border="0" alt="alt_text" class="center-on-narrow">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--[if mso]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->
                </td>
            </tr>
        </table>
        <!--[if mso]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </td>
</tr>