<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title></title>
    <!-- CSS that must be in the head -->
    <style>
        {{ include('../../dist/local/css/basic-head.css') }}
    </style>

    <!-- CSS must not be inlined for Campaign Monitor. Added here instead. -->
     <style>
        {{ include('../../dist/local/css/basic.css') }}
    </style>
</head>
<body>
    <!-- Set intro text to display in message preview -->
    {{ include('../partials/basic/preheader.html', { "intro" : "" }) }}
    <!-- Wrapper Table -->
    <table cellpadding="10" cellspacing="0" border="0" id="backgroundTable" align="center">
        <tr>
            <td class="content-container">
                {{ include('../partials/basic/online-and-share.html') }}

                <!-- Content Table -->
                <table class="center_table content_table" align="center" border="0" cellpadding="0" cellspacing="0">      
                    
                    {{ include('../partials/basic/header.html') }}

                    <!-- Content -->  
                    <tr>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" width="700">
                                <tr>
                                    <td class="content_table_spacers">&nbsp;</td>
                                    <td class="content_table_center">
                                        <table class="content_table_center" border="0" cellpadding="0" align="center" cellspacing="0">      
                                            <tr>
                                                <td class="salutation">Dear [fullname,fallback=Sir/Madam]</td>
                                            </tr>
                                            <tr>
                                                <td class="content_spacing">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="content_table_spacers">&nbsp;</td>
                                </tr>
                            </table>          
                        </td>
                    </tr>
                    <!-- Content End -->
                    
                    {{ include('../partials/basic/footer.html') }}
                    
                </table>
                <!-- Content Table End -->
                
                {{ include('../partials/basic/unsubscribe.html') }}
            </td>
        </tr>
    </table>
<!-- Wrapper Table End -->
</body>
</html>