<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <title></title> <!-- The title tag shows in email notifications, like Android 4.4. -->

    {{ include('../partials/hybrid/webfont.html', { "outlookFallback" : "sans-serif", "googleFont" : "Roboto:400,700" }) }}

    {{ include('../partials/hybrid/reset.html') }}

    <link rel="stylesheet" href="css/hybrid.css" />

    <!-- Progressive Enhancements -->
    <style>
        {{ include('../../dist/local/css/progressive-enhancements.css') }}
    </style>

    {{ include('../partials/hybrid/outlookbgfix.html') }}
    
</head>
<body width="100%">
    <center class="container">

        <!-- Set intro text to display in message preview -->
        {{ include('../partials/hybrid/preheader.html', { "intro" : "" }) }} 

        <div class="container email-container">
            <!--[if mso]>
            <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="680" align="center">
            <tr>
            <td>
            <![endif]-->

            {{ include('../partials/hybrid/header.html') }}

            <!-- Email Body : BEGIN -->
            <table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" class="email-container">

                {{ include('../partials/hybrid/hero.html') }}

                {{ include('../partials/hybrid/one-column.html') }}

                {{ include('../partials/hybrid/background-with-text.html') }}

                {{ include('../partials/hybrid/two-column.html') }}

                {{ include('../partials/hybrid/three-column.html') }}

                {{ include('../partials/hybrid/thumbnail-left-text-right.html') }}

                {{ include('../partials/hybrid/thumbnail-right-text-left.html') }}
                
                {{ include('../partials/hybrid/clear-space.html', { "height" : 40 }) }} 
                
                {{ include('../partials/hybrid/one-column.html') }}

            </table>
            <!-- Email Body : END -->

            {{ include('../partials/hybrid/footer.html') }}

            <!--[if mso]>
            </td>
            </tr>
            </table>
            <![endif]-->
        </div>
    </center>
</body>
</html>