<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>Sanlam Invite</title>
    <!-- CSS that must be in the head -->
    <style>
        {{ include('../../dist/local/css/basic-head.css') }}
    </style>

    <!-- CSS must not be inlined for Campaign Monitor. Added here instead. -->
     <style>
        {{ include('../../dist/local/css/basic.css') }}
    </style>
</head>
<body>
    <!-- Set intro text to display in message preview -->
    {{ include('../partials/basic/preheader.html', { "intro" : "Please join us at the  10th SEM/SCB Bancassurance conference" }) }}
    <!-- Wrapper Table -->
    <table cellpadding="10" cellspacing="0" border="0" id="backgroundTable" align="center">
        <tr>
            <td class="content-container">
                {{ include('../partials/basic/online-and-share.html') }}

                <!-- Content Table -->
                <table class="center_table content_table" align="center" border="0" cellpadding="0" cellspacing="0">      
                    
                    {{ include('../partials/basic/header.html') }}

                    <!-- Content -->  
                    <tr>
                        <td class="content_spacing">
                            <table border="0" cellpadding="0" cellspacing="0" width="800">
                                <tr>
                                    <td class="blue_background content_table_spacers">&nbsp;</td>
                                    <td class="blue_background content_table_center">
                                        <table class="content_table_center" border="0" cellpadding="0" align="center" cellspacing="0">
                                            <tr>
                                                <td><p class="noSideSpace blue_background_text"><strong>PLEASE NOTE:</strong> The Sanlam Emerging Markets Business Partners Conference taking place <strong>7 June 2018</strong> is a separate event to the Sanlam Group Senior Leadership Conference taking place <strong>8 June 2018.</strong> Some delegates may receive an invitation to the Sanlam Group Senior Leadership Conference in addition to the Sanlam Emerging Markets Business Partners Conference.</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="blue_background content_table_spacers">&nbsp;</td>
                                </tr>
                            </table>
                        </td>        
                    <tr>
                        <td class="top_spacing">
                            <table border="0" cellpadding="0" cellspacing="0" width="800">
                                <tr>
                                    <td class="content_table_spacers">&nbsp;</td>
                                    <td class="content_table_center content_spacing">
                                        <table class="content_table_center" border="0" cellpadding="0" align="center" cellspacing="0">
                                            <tr>
                                                <td colspan="5" class="content_spacing"><p class="noSideSpace">Dear Delegate</p><p class="noSideSpace">Junior Ngulube, Chief Executive of Sanlam Emerging Markets, cordially invites you to the <span class="blue_text">2018 Sanlam Emerging Markets Business Partners Conference</span> to be held on <span class="blue_text">7 June 2018</span> at  The Westin, Cape Town, South Africa.</p></td>
                                            </tr>
                                            <tr>
                                                <td class="image_col_spacing grey_background icon_col">
                                                    <table class="icon_col" border="0" cellpadding="0" align="center" cellspacing="0">
                                                        <tr>
                                                            <td class="image_col_spacing"><img src="images/calender.jpg" alt="calender Image" label="calender Image" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <p class="noSpace"><strong>Date</strong></p>
                                                                <p>7 June 2018</p>
                                                                <p class="noSpace"><strong>Time</strong></p>
                                                                <p>08h00 - 17h00</p>
                                                                <p class="noSpace"><strong>Accommodation</strong></p>
                                                                <p class="noSpace">The Cullinan</p>
                                                                <p class="noSpace">Cape Town City Centre</p>
                                                                <p>Cape Town</p>
                                                                <p class="noSpace"><strong>Transport</strong></p>
                                                                <p class="noSpace">Local transfers will be arranged if required</p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>    
                                                <td>&nbsp;</td>
                                                <td class="image_col_spacing grey_background icon_col"> 
                                                   <table class="icon_col" border="0" cellpadding="0" align="center" cellspacing="0">
                                                        <tr>
                                                            <td class="image_col_spacing"><img src="images/venue.jpg" alt="location Image" label="location Image" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <p class="noSpace"><strong>Conference venue</strong/></p>
                                                                <p class="noSpace">The Westin Ballroom</p>
                                                                <p class="noSpace">Convention Square</p>
                                                                <p class="noSpace">1 Lower Long Street</p>
                                                                <p class="noSpace">Cape Town</p>
                                                                <p class="noSpace">South Africa</p>
                                                            </td>
                                                        </tr>
                                                   </table>
                                                </td>
                                                <td>&nbsp;</td>
                                                <td class="image_col_spacing grey_background icon_col"> 
                                                    <table class="icon_col" border="0" cellpadding="0" align="center" cellspacing="0">
                                                        <tr>
                                                            <td class="image_col_spacing"><img src="images/contact_details.jpg" alt="Contact details Image" label="Contact details Image" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="appleLinksUnderlined">
                                                                <p class="noSpace"><strong>For further assistance or queries</strong></p>
                                                                <p class="noSpace">please contact</p>
                                                                <p class="noSpace">Stacey Wood on</p>
                                                                <p class="noSpace">021 447 1045 or</p>
                                                                <p class="noSpace"><span class="appleLinksUnderlined"><a class="appleLinksUnderlined" href="mailto:stacey@colourworks.co.za"> stacey@colourworks.co.za</a></span></p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="content_table_spacers">&nbsp;</td>
                                </tr>
                            </table>          
                        </td>
                    </tr>
                    <!-- Content End -->
                    
                    {{ include('../partials/basic/footer.html') }}
                    
                </table>
                <!-- Content Table End -->
                
                {{ include('../partials/basic/unsubscribe.html') }}
            </td>
        </tr>
    </table>
<!-- Wrapper Table End -->
</body>
</html>