<tr>
    <td class="footer blue_background">
        <table border="0" cellpadding="0" cellspacing="0" width="800">
            <tr>
                <td class="content_table_spacers">&nbsp;</td>
                <td class="footer_image_col"><img src="images/rsvp.jpg" alt="Thank you Image" label="Thank you Image" /></td>
                <td class="footer_content_col">
                    <table border="0" cellpadding="0" cellspacing="0" class="footer_content_col">
                        <tr>
                            <td class="footer_text" colspan="3">Please confirm your attendance by 16 May 2018.</td>
                        </tr>
                        <tr>
                            <td class="button-td">
                                <a href="https://events.colourworks.co.za/events/sanlam-emerging-markets/event/y/259" class="button-a">
                                    <span class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;ACCEPT&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </a>
                            </td>
                            <td class="footer_col_spacing">&nbsp;</td>
                            <td class="button-td">
                                <a href="https://events.colourworks.co.za/events/sanlam-emerging-markets/event/n/259" class="button-a">
                                    <span class="button-link">&nbsp;&nbsp;&nbsp;&nbsp;DECLINE&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                </a>
                            </td>
                            <td class="footer_col_small_spacing">&nbsp;</td>
                        </tr>
                    </table>
                </td>
                <td class="content_table_spacers">&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>