<tr>    
    <td>
        <table border="0" cellpadding="0" cellspacing="0">                
            <tr>
                <td class="image">  
                    <img src="images/header_reminder.jpg" alt="Header Image" label="Header Image" />
                </td>
            </tr> 
        </table>
    </td>   
</tr>
