<table align="center" class="center_table appleLinksUnderlined" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td colspan="3" class="spacer" height="10">&nbsp;</td>
    </tr>
    <tr>
        <td align="left" class="unsub"><span class="appleLinksUnderlined">Having trouble reading this mail? <webversion>Click here to view it in your browser</webversion></span></td>
       <!--  <td width="60" align="right" class="unsub">Share on</td>
        <td width="30" align="right"><tweet><img src="images/twitter.gif" width="30" height="30" alt="twitter" title="twitter"/></tweet></td>
        <td width="29" align="right"><fblike><img src="images/facebook.gif" width="30" height="30" alt="facebook" title="facebook"/></fblike></td>
        <td width="30" align="right"><forwardtoafriend><img src="images/forward.gif" width="30" height="30" alt="forward to a friend" title="forward to a friend"/></forwardtoafriend></td> -->
    </tr>
    <tr>
        <td colspan="3" class="spacer" height="10">&nbsp;</td>
    </tr>
</table>